@import "../../../../styles/abstracts";

.formInput {
  // position: relative;
  flex: 1;
  // height: 100%;
  // flex: 5;
  flex: 5 0 20rem;

  display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // justify-items: ;
  // justify-content: center;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  // gap: 0.5rem 2rem;
}
.label {
  flex-grow: 0;
  flex-shrink: 0;
}
.input {
  margin: 0;
  // height: 100%;
  // background: yellow;
  // flex: 1;
  // color: $prime4;
  background: none;
  font-weight: 600;
  flex: 1 0 20rem;
  border: 0;
  padding-left: 0.5rem;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}

.status {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  border-radius: 50rem;
  &.success {
    background: green;
  }

  &.failed {
    background: rgb(179, 6, 6);
  }
}

@import "../../../../styles/abstracts";
.list {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  z-index: 0;
  width: 100%;

  background: $prime5;
  color: $prime1;
  // backdrop-filter: blur(10rem) brightness(150);
  @extend %effect1;
  // background: $prime2;
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 2px solid $prime1;
  &:focus,
  &:hover {
    box-shadow: 0 1rem 1.5rem 1rem rgba($color: $prime1, $alpha: 0.25);
    @extend %effect1Hover;
  }
}
.listItem {
  padding: 1rem 0;
  transition: 0.2s ease all;
  & + & {
    border-top: 1px solid rgba($color: $prime1, $alpha: 0.25);
    // margin-top: 1rem;
  }
  display: flex;
  align-items: center;
  gap: 1rem;
  $increment: 1rem;

  &::before {
    display: block;
    content: "";
    box-shadow: 0 0 0 0.12rem $prime1;
    border-radius: 5rem;
    width: 0.5rem;
    height: 0.5rem;
    transition: 0.2s ease all;
  }

  &:focus,
  &:hover {
    transform: translateX(0.5rem);
    color: $prime2;
    font-weight: 600;

    &::before {
      box-shadow: 0 0 0 0.12rem $prime2;
      background: $prime2;
      width: calc(0.5rem + $increment);
      transform: translateX(-0.5rem);
    }
  }
}
