.solarTime {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}
.stHeader {
  display: flex;
  justify-content: space-between;
}
.stTitle {
}
.stLocation {
  display: inline-flex;
  gap: 0.25rem;
}
.locationIcon {
  // background: #6e6e6e;
}
.locationText {
}

// Body
.stBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
}

// Alpha
.stAlpha {
  // background: #000;
  border: 1px dotted saddlebrown;
  padding: 1rem;
}
.stLocation {
}
.stLocationPin {
}
.stLocationName {
}
.stDetail {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.stDetailItem {
  // flex: 1;
  display: flex;
  gap: 1.2rem;
  // background: #000;
  align-items: center;
  // justify-content: space-between;
}
.stSolarImage {
}
.stBrief {
}
.stRiseLabel {
}
.stRiseValue {
}
// .stSet {
//   flex: 1;
// }
.stLunarImage {
}
.stBrief {
}
.stSetLabel {
}
.stSetValue {
}
// Bravo
.stBravo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
.stLocation {
}
.stLocationPin {
}
.stLocationName {
}
.stDetail {
}
.stRise {
}
.stSolarImage {
}
.stRiseValue {
}
.stSet {
}
.stLunarImage {
}
.stSetValue {
}
