$prime1: #2f3346;
$prime2: #5c92ff;
$prime4: #aab5dd;
$prime5: #f0f5ff;
$neutral: #ffffff;
$gradY: linear-gradient(#ffd88b, #ffa900);
$gradW: linear-gradient(#fff, #d6e0f9);
$gradB: radial-gradient(#d0d5ff, #419ef4);

.formInput {
  flex: 1;
  // height: 100%;
  // flex: 5;
  flex: 5 0 20rem;

  display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // justify-items: ;
  // justify-content: center;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  // gap: 0.5rem 2rem;
}
.label {
  flex-grow: 0;
  flex-shrink: 0;
}
.input {
  margin: 0;
  // height: 100%;
  // background: yellow;
  // flex: 1;
  flex: 1 0 20rem;
}
