.requestDetail {
  // @extend %card;
  // flex: 1;
  // background: #fff;
  // width: 100%;
  // text-align: right;
  // display: flex;
  // justify-content: space-evenly;
  // background: red;
  font-size: 1.2rem;
  color: #888;
}
.requestDate {
  // color: red;
  color: #222;
  font-weight: 600;
}
.requestTime {
  color: #222;
  // color: red;
  font-weight: 600;
}
