%card {
  border-radius: 1rem;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 70, 0.2);
  padding: 1rem;
  cursor: pointer;
}

%hoverCard {
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 4rem 4rem rgba(0, 0, 70, 0.2);
  }
}

.main {
  // @extend %card;
  display: flex;
  flex-wrap: wrap;
  // height: 100%;
  gap: 4rem;
  width: 100%;

  // padding: 3.5rem 3rem;
  // text-align: left;
  // background-color: rgba($color: #ccc, $alpha: 0.9);
  transition: color 0.15s ease, border-color 0.15s ease;
}
