.formControl {
  flex: 1 0 10rem;
  // width: 10rem;

  display: flex;
  // gap: 1rem;
  // flex-wrap: wrap;
  // background: red;
}

.btn {
  flex: 1;
  text-transform: uppercase;
  // background-color: #9dbfef;
  // width: 2em;
  // color: #061a35;
  border-radius: 0.25rem;
  &:hover,
  &:active {
    background: rgb(63, 135, 194);
    color: rgb(6, 47, 83);
  }
}
