.detailItem {
  width: 100%;
  padding: 0.7rem 0;
  gap: 0.5rem 0rem;

  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & + & {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    // margin-top: 1rem;
  }
}
.detailLabel {
  // background: green;
  flex: 1 0 55%;
  color: #777;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 300;
}
.detailValue {
  // background: yellow;
  font-size: 1.4rem;
  font-weight: 600;
  flex: 1 0 45%;
  text-align: right;
}
