%card {
  border-radius: 1rem;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 70, 0.15);
  padding: 1rem;
  cursor: pointer;
}

%hoverCard {
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 4rem 4rem rgba(0, 0, 70, 0.2);
  }
}

.highlight {
  @extend %card;
  @extend %hoverCard;

  flex: 1.25 0 25rem;
  min-height: min(30vh, 30rem);
  // min-width: min(30vh, 20rem);
  // background-color: lawngreen;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
