$prime1: #2f3346;
$prime2: #5c92ff;
$prime4: #aab5dd;
$prime5: #f0f5ff;
$neutral: #ffffff;
$gradY: linear-gradient(#ffd88b, #ffa900);
$gradW: linear-gradient(#fff, #d6e0f9);
$gradB: radial-gradient(#d0d5ff, #419ef4);

.airQuality {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  gap: 1.5rem;

  border-radius: 0.75rem;
  background: $neutral;
}
.aqHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: $prime1;
}
.aqTitle {
  font-size: 1.9rem;
}
.aqLocation {
  display: flex;
  align-items: center;
}
.locationIcon {
}
.locationText {
}
.aqBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.aqBrief {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: #000;
  // padding: 0.5rem 0;
}
.aqImage {
}
.aqText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.aqStatus {
  font-weight: 600;
  color: $prime2;
}
.aqComment {
  color: $prime4;
}
.aqRefresh {
  padding: 1rem 1.5rem;
  color: $prime2;
  border-radius: 0.5rem;
  background: $prime5;
  // align-self: center;
}
.aqDetail {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.aqDetailItem {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  padding: 1.5rem 1.3rem;
  border-radius: 0.5rem;
  background: $prime5;
  color: $prime2;
}
.aqDetailAmount {
  font-weight: 500;
}
.aqDetailTrace {
  font-weight: 600;
  font-size: 1.5rem;
}
