%card {
  border-radius: 1rem;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 70, 0.2);
  padding: 1rem;
  // cursor: pointer;
}

.main {
  @extend %card;
  background: white;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // height: 70vh;
  padding: min(2rem, 2vw) min(4vw, 5rem);
  gap: 2rem;
  border-radius: 1rem;

  transition: color 0.15s ease, border-color 0.15s ease;
}

.title {
  text-align: center;
}
