@import "../../../styles/abstracts";
.form {
  position: relative;
  z-index: 1;
  // ^ to get the search suggestions display on top of other sections sitting at the same level in DOM

  height: 100%;
  padding: 1rem 1.5rem;
  @extend %effect1;

  display: flex;
  gap: min(2rem, 5vw);
  align-items: center;

  background: $neutral;
  border-radius: 0.5rem;
  transition: 0.2s all ease;
  &:hover {
    cursor: pointer;
    @extend %effect1Hover;
  }
}
