.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 1rem;

  // padding: 1.5rem;
  // text-align: left;
  background-color: #fff;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 70, 0.1);
  transition: color 0.15s ease, border-color 0.15s ease;
}
.data {
  background: #353535;
  display: flex;
  height: 100%;
  gap: 1rem;
  width: 100%;
}
.highlight {
  flex: 1.25;
  background-color: lawngreen;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details {
  flex: 1;
  background-color: darkcyan;

  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}
.title {
}
.subTitle {
}
.infoList {
}
.infoItem {
  border: 1px dashed darkgreen;
  // width: 100%;
  display: flex;
  justify-content: space-evenly;
  & + & {
    margin-top: 1rem;
  }
}
.infoParam {
}
.infoVal {
}
