$prime1: #2f3346;
$prime2: #5c92ff;
$prime4: #aab5dd;
$prime5: #f0f5ff;
$neutral: #ffffff;
$gradY: linear-gradient(#ffd88b, #ffa900);
$gradW: linear-gradient(#fff, #d6e0f9);
$gradB: radial-gradient(#d0d5ff, #419ef4);

.rainfall {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 2rem;
  // flex: 1;
  background: $neutral;
  border-radius: 0.75rem;
  color: $prime1;
}
.rfHeader {
  display: flex;
}
.rfTitle {
  // display: flex;
  font-size: 1.9rem;
  font-weight: 600;
}
.rfBody {
  flex: 1;
  display: flex;
}
.rfStats {
  flex: 1;
  display: flex;
  justify-content: space-between;
  // background: #000;
}
.rfStat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.rfStatBar {
  background: #ccc;
  content: "";
  width: 0.5rem;
  border-radius: 1rem;
  // height: 10rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  // gap: 0.25rem;
  overflow: hidden;
  align-items: center;
}
.rfStatFill {
  border-radius: 1rem;
  width: 100%;
  // background: red;
  content: "";
  flex: 1;
}
.rfStatVal {
  border-radius: 1rem;
  width: 100%;
  background: #333;
  content: "";
  // flex: 0 0 5%;
}
.rfStatDate {
  font-size: 1.2rem;
  font-weight: 600;
}
