@import "../../../styles/abstracts";
// $prime1: #2f3346;
// $prime2: #5c92ff;
// $prime4: #aab5dd;
// $prime5: #f0f5ff;
// $neutral: #ffffff;
// $gradY: linear-gradient(#ffd88b, #ffa900);
// $gradW: linear-gradient(#fff, #d6e0f9);
// $gradB: radial-gradient(#d0d5ff, #419ef4);

.highlights {
  color: $prime1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // padding: 1.5rem 2rem;
  gap: 0.75rem;

  // background: #fff;
  border-radius: 0.75rem;
}
.hlLocation {
  align-self: start;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.locationIcon {
}
.locationText {
  font-size: 2rem;
}
.hlDate {
  // font-size: 1.8rem;
  font-weight: 600;
}
.hlConditionImage {
  // align-self: flex-start;
  // background: #000;
}
.hlCondition {
  font-size: 1.7rem;
  font-weight: 600;
}
.hlTemp {
  font-size: 4.5rem;
  font-weight: 300;
}
.hlDetail {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  // background: #000;
  padding: 0.5rem 0;
}
.hlDetailLabel {
}
.hlDetailValue {
  font-weight: 600;
}
