$prime1: #2f3346;
$prime2: #5c92ff;
$prime4: #aab5dd;
$prime5: #f0f5ff;
$neutral: #ffffff;
$gradY: linear-gradient(#ffd88b, #ffa900);
$gradW: linear-gradient(#fff, #d6e0f9);
$gradB: radial-gradient(#d0d5ff, #419ef4);

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.currentTime {
  color: $prime2;
  font-size: 3.5rem;
  font-weight: 600;
}

.currentDate {
  color: $prime1;
  font-size: 1.7rem;
  font-weight: 600;
}
.currentDay {
}
.greetings {
  font-size: 1.9rem;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  color: $prime2;
}
