$prime1: #2f3346;
$prime2: #5c92ff;
$prime4: #aab5dd;
$prime5: #f0f5ff;
$neutral: #ffffff;
$gradY: linear-gradient(#ffd88b, #ffa900);
$gradW: linear-gradient(#fff, #d6e0f9);
$gradB: radial-gradient(#d0d5ff, #419ef4);
