@import "../styles/abstracts";
// Global Styles
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border: 1px dashed #ccc;
}

img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

html {
	// font-size: 10px;
}
body {
	backdrop-filter: grayscale(0.5) brightness(130%) blur(0.85rem);
	padding: 0;
	margin: 0;
	letter-spacing: 0.035em;
	font-family: Poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
}

// General Styles

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: $prime4;
	transition: background-color 5000s ease-in-out 0s;
}

input {
	margin-top: 0.2em;
	// color: #385ca4;
	padding: 0.3rem 7rem;
	font-size: 1rem;
	font-family: inherit;
	font-weight: 500;
	font-style: italic;
	border: 1.5px solid #000;
	border-radius: 0.25rem;
	outline: none;
	letter-spacing: 0.04em;
	color: $prime2;

	&:focus {
	}
	&::placeholder {
		color: $prime1;
		// font-weight: 500;
	}
}

button {
	font-family: inherit;
	cursor: pointer;
	letter-spacing: 0.15em;
	padding: 0.45rem 1.2rem;
	font-weight: 600;
	border: 1px solid transparent;
	outline: none;
	transition: all 0.15s ease;
	background: $prime1;
	color: $prime5;
	&:hover,
	&:focus {
		box-shadow: 0 0.5rem 1.25rem rgba($color: #000, $alpha: 0.15);
	}
}
