html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  background-color: #e6edfb;
  font-size: 1.6rem;
  letter-spacing: 0.035em;
  font-family: Poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.container {
  max-width: 114rem;
  width: 98%;
  margin: auto;
  // background: red;
}
.pageContainer {
  padding: 1rem max(calc((100vw - 114rem) / 2), 1rem, 4vw);
}

input {
  margin-top: 0.2em;
  color: #385ca4;
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  font-family: raleway;
  font-weight: 500;
  font-style: italic;
  border: 1.5px solid #5c92ff;
  border-radius: 0.25rem;
  outline: none;
  // letter-spacing: 0.5px;

  &:focus {
    border-color: #385ca4;
    box-shadow: 0 0.5rem 1rem rgba($color: #385ca4, $alpha: 0.05);
  }
  &::placeholder {
    font-weight: 400;
    color: #5c92ff;
  }
}

button {
  cursor: pointer;
  letter-spacing: inherit;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    // border-color: black;
    box-shadow: 0 0.5rem 1.25rem rgba($color: #000, $alpha: 0.15);
  }
}
