html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 1, 15);
  font-size: 1.6rem;
  letter-spacing: 0.035em;
  font-family: Poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.container {
  max-width: 114rem;
  width: 98%;
  margin: auto;
}

input {
  padding: 0.5rem;
  margin-top: 0.2em;
  color: rgb(13, 61, 156);
  font-size: 1.4rem;
  font-family: raleway;
  font-weight: 500;
  font-style: italic;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  outline: none;
  // letter-spacing: 0.5px;

  &:focus {
    border-color: rgb(13, 61, 156);
  }
  &::placeholder {
    font-weight: 400;
    color: rgb(13, 61, 156);
  }
}

button {
  cursor: pointer;
  letter-spacing: inherit;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  background-color: #fbfbfb;
  border: 1px solid #222222;
}
