.container {
  width: 98vw;
  max-width: 114rem;
  min-height: 100vh;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // justify-content: center;
  // align-items: center;
}
