.dashboard {
  border: 1px dotted black;
  min-height: 80vh;

  display: grid;
  grid-template-rows: 0.5fr 1.5fr 2fr 2fr;
  grid-template-columns: 3fr 4fr 4fr;
  gap: 2rem;

  grid-template-areas:
    "welcome      search      search"
    "welcome      weekly      weekly"
    "highlights   airQuality  sunDuration"
    "highlights   rainfall    sunDuration";

  // justify-items: center;
  // align-items: center;

  & > * {
    border: 1px dashed red;
    // border-radius: 0.5rem;
    // background: white;

    // display: inline-grid;
    // place-content: center;
    // place-items: center;
  }
}

.sec1 {
  grid-area: welcome;
  // justify-content: start;
}
.sec2 {
  grid-area: highlights;
}
.sec3 {
  grid-area: search;
}
.sec4 {
  grid-area: weekly;
}
.sec5 {
  grid-area: airQuality;
}
.sec6 {
  grid-area: rainfall;
}
.sec7 {
  grid-area: sunDuration;
}
