.formInput {
  // flex: 5;
  flex: 5 0 20rem;

  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  // justify-items: ;
  // justify-content: center;
  // justify-content: center;
  align-items: center;
  // align-content: center;
  gap: 0.5rem 2rem;
}
.label {
  // background: green;
  flex-grow: 0;
  flex-shrink: 0;
}
.input {
  // background: yellow;
  // flex: 1;
  flex: 1 0 20rem;
}
